<h2 mat-dialog-title>Device: {{ device.deviceId }}</h2>
<mat-dialog-content class="content-container">
    @if (chartOptions) {
<apx-chart
  [series]="chartOptions.series!"
  [chart]="chartOptions.chart!"
  [xaxis]="chartOptions.xaxis!"
  [stroke]="chartOptions.stroke!"
  [tooltip]="chartOptions.tooltip!"
  [legend]="chartOptions.legend!"
  [yaxis]="chartOptions.yaxis!"
  [colors]="chartOptions.colors!"
  [grid]="chartOptions.grid!"
  >
</apx-chart>
    }
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]>Close</button>
</mat-dialog-actions>