<h2 mat-dialog-title>Create/Edit Tree</h2>
<mat-dialog-content class="form-container">

    <mat-form-field>
        <mat-label>Tree Species</mat-label>
        <input matInput [formControl]="form.controls.species" />
        @if (form.controls.species.hasError('required')) {
        <mat-error>Species is required</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Planting Date</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="form.controls.plantedAt">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (form.controls.plantedAt.hasError('required')) {
        <mat-error>A valid date is required</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [formControl]="form.controls.status">
            <mat-option value="healthy">Healthy</mat-option>
            <mat-option value="needs_attention">Needs Attention</mat-option>
            <mat-option value="dead">Dead</mat-option>
        </mat-select>
        @if (form.controls.status.hasError('required')) {
        <mat-error>Status is required</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Zone</mat-label>
        <mat-select [formControl]="form.controls.zoneId">
            @for(zone of zones$ | async; track zone.id) {
            <mat-option [value]="zone.id">{{ zone.name }}</mat-option>
            }
        </mat-select>
        @if (form.controls.zoneId.hasError('required')) {
        <mat-error>A zone is required</mat-error>
        }
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button (click)="onConfirmClick()">Ok</button>
</mat-dialog-actions>