<mat-card class="latest-reading-card">
    <mat-card-title>Latest Soil Reading</mat-card-title>
    
    <mat-card-content class="reading-content">
        <div class="reading">
            <mat-icon class="reading-icon">thermostat</mat-icon>
            <span>{{ latest?.temperature }}°C</span>
        </div>
        <div class="reading">
            <mat-icon class="reading-icon">water_drop</mat-icon>
            <span>{{ latest?.humidity }}%</span>
        </div>
        <div class="reading">
            <mat-icon class="reading-icon">grass</mat-icon>
            <span>{{ latest?.moisture }}%</span>
        </div>
    </mat-card-content>
</mat-card>